/* Desain header */
header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

header img {
    max-width: 200px; /* Mengatur lebar maksimum logo */
    max-height: 100px; /* Mengatur tinggi maksimum logo */
}

/* Desain navigasi */
nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
}

/* Desain formulir */
form {
    margin: 20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

form input[type="radio"] {
    margin-right: 10px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Desain footer */
footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
}
